.navParent {
  width: 100vw;
  height: 150px;
  display: block;
  background-color: black;
  color:white;
  img {
    width: 140px;
    height: auto;
  }
}

  a {
    color: white;
    font-size: 18px;
    float: right;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      font-weight: bold;
  }
}





